$bgcolor: #FBEDE6;
$textcolor: darkblue;
$fontsize: 18px;
$headerFont: 'Philosopher';
$headerColor: #575757;
$baseFont:  'Helvetica Now Micro';
$maxWidth: 1200px;
$boxColor: #121212;
$solutionColor: #F7E2ED;

